@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

/********************************************* GENERAL STYLES *********************************************/

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: rgba(0, 0, 0, 0.87);
  --font: 'Nunito', sans-serif;
  --font-color: rgba(255, 255, 255, 0.699);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e3e4e6;
  color: black;
  font-family: var(--font);
}

/************** Navigation ***************/
.nav ul {
  display: flex;
}

.nav ul li {
  list-style-type: none;
  padding: 10px;
}

.box {
  display: grid;
  place-items: center;
  padding: 10px;
  color: black;
}

/************** Main ***************/
.main, .post-main {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
}

.description, .post1-description, .post1-video
.video {
  width: 45vw;
  padding: 1rem;
}

.description, .post1-description {
  padding-left: 5%;
}

.video, .post1-video {
  padding-right: 2%;
  padding-left: 5%;
}







/********************************************* MOBILE *********************************************/

.container {
  height: 90vh;
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h h h    h h h h     h h h h"
    "b b b b    b b b b     b b b b"
    "m m m m    m m m m     m m m m"
    "s s s s    s s s s     s s s s"
    "f f f f    f f f f     f f f f"
  ;
}

.header {
  grid-area: h;
}

.blog {
  grid-area: b;
}

.main {
  grid-area: m;
}

.sidebar {
  grid-area: s;
}

.footer {
  grid-area: f;
}

/********************************************* TABLET *********************************************/
@media(min-width:768px) {
  .container {
    height: 90vh;
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "h h h h    h h h h     h h h h"
      "b b b b    m m m m     m m m m"
      "b b b b    m m m m     m m m m"
      "s s s s    m m m m     m m m m"
      "s s s s    f f f f     f f f f"
    ;
  }

  .header {
    grid-area: h;
  }

  .blog {
    grid-area: b;
  }

  .main {
    grid-area: m;
  }

  .sidebar {
    grid-area: s;
  }

  .footer {
    grid-area: f;
  }
}

/********************************************* DESKTOP *********************************************/
@media(min-width:1080px) {
  .container {
    height: 97vh;
    width: 97%;
    margin: 5px auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "h h h h    h h h h     h h h h"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "m m m m    m m m m     m m m m"
      "f f f f    f f f f     f f f f"
    ;
  }

  .header {
    grid-area: h;
  }

  .blog {
    grid-area: b;
  }

  .main {
    grid-area: m;
  }

  .sidebar {
    grid-area: s;
  }

  .footer {
    grid-area: f;
  }
}