/************** Main ***************/

.blog{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.post{
position: relative;
transition: font-size 0.8s ease-in-out, left 1.2s ease-in-out;
}

.post img{
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: .5s ease;
    filter:
    grayscale(0.8) 
    contrast(10%);
    mix-blend-mode: blend-mode;
}

.post img:hover{
    filter: opacity(75%);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.post:hover .img {
    opacity: 0.3;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.blog h2{
    font-weight: 100;
    position: absolute;
    bottom: 15%;
    right: 10%;
    background-color:rgba(0, 0, 0, 0.75);
    padding: 16px 100px;
    color: #ffffff;
}


.blog h2:hover, .blog h2:visited, .blog h2:active, .blog h2:link{
    color:bisque;
}




.p1, .p2, .p3, .p4, .p5, .p6{
    width: calc(90vw / 3);
    height: 35vh;
    margin: 0 .5rem 1rem;
    border-radius: 10px;
    line-height: 24px;
    overflow: hidden;
    box-shadow: 8px 9px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 9px 5px 0px rgba(0,0,0,0.75);
}


/********************************************* MOBILE *********************************************/

.container {
    height: 90vh;
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "h h h h    h h h h     h h h h"
      "b b b b    b b b b     b b b b"
      "m m m m    m m m m     m m m m"
      "s s s s    s s s s     s s s s"
      "f f f f    f f f f     f f f f"
    ;
  }
  
  .header {
    grid-area: h;
  }
  
  .blog {
    grid-area: b;
  }
  
  .main {
    grid-area: m;
  }
  
  .sidebar {
    grid-area: s;
  }
  
  .footer {
    grid-area: f;
  }
  
  /********************************************* TABLET *********************************************/
  @media(min-width:768px) {
    .container {
      height: 90vh;
      width: 90%;
      margin: 20px auto;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
        "h h h h    h h h h     h h h h"
        "b b b b    m m m m     m m m m"
        "b b b b    m m m m     m m m m"
        "s s s s    m m m m     m m m m"
        "s s s s    f f f f     f f f f"
      ;
    }
  
    .header {
      grid-area: h;
    }
  
    .blog {
      grid-area: b;
    }
  
    .main {
      grid-area: m;
    }
  
    .sidebar {
      grid-area: s;
    }
  
    .footer {
      grid-area: f;
    }
  }
  
  /********************************************* DESKTOP *********************************************/
  @media(min-width:1080px) {
    .container {
      height: 97vh;
      width: 97%;
      margin: 5px auto;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
        "h h h h    h h h h     h h h h"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "m m m m    m m m m     m m m m"
        "f f f f    f f f f     f f f f"
      ;
    }
  
    .header {
      grid-area: h;
    }
  
    .blog {
      grid-area: b;
    }
  
    .main {
      grid-area: m;
    }
  
    .sidebar {
      grid-area: s;
    }
  
    .footer {
      grid-area: f;
    }
  }