<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/blog.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="scripts.js"></script>
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="visualizations.html">Visualisations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <section class="blog">
                <article class="post p1">
                    <a href="do-you-want-to-be-happy.html" target="_blank">
                        <img src="../static/images/happy.jpg" alt=""/>
                        <h2>Do you want to be happy?</h2>
                    </a>
                </article>
                <article class="post p2">
                    <a href="increase-your-income.html" target="_blank">
                        <img src="../static/images/income.jpg" alt=""/>
                        <h2>Increase you income</h2>
                    </a>
                </article>
                <article class="post p3">
                    <a href="how-to-make-a-budget.html" target="_blank">
                        <img src="../static/images/budget.jpg" alt=""/>
                        <h2>How to make a budget?</h2>
                    </a>
                </article>
                <article class="post p4">
                    <a href="happiness-formula.html" target="_blank">
                        <img src="../static/images/formula.jpg" alt=""/>
                        <h2>Happiness Formula</h2>
                    </a>
                </article>
                <article class="post p5">
                    <a href="theories-of-happiness.html" target="_blank">
                        <img src="../static/images/theories.jpg" alt=""/>
                        <h2>Theories of Happiness</h2>
                    </a>
                </article>
                <article class="post p6">
                    <a href="gross-national-happiness.html" target="_blank">
                        <img src="../static/images/index.jpg" alt=""/>
                        <h2>Gross National Happiness</h2>
                    </a>
                </article>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>