<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/contact.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <script src="https://kit.fontawesome.com/7bddbd4a78.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('about') }}">About</a></li>
                    <li><a href="{{url_for('blog') }}">Blog</a></li>
                    <li><a href="{{url_for('visualizations') }}">Visualisations</a></li>
                    <li><a href="{{url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <h2>Contact us :)</h2>
           <section class="contact">
            <div class="rita">
                <img src="../static/images/rita.jpg" alt=""/>
                <div class="bio">
                    <h2>Adna</h2>
                    <p>
                        Data Scientist with Machine Learning skillset and passion for practical implementation of Data Science and Machine Learning models in Business with additional human factor. I strongly believe that combining Machine Learning with Human Psychology can bring outstanding resutlts.
                    </p><br>
                    <p><i class="fas fa-at"></i><a href = "mailto:r.starzyk@protonmail.com">Contact me</a></p>
                </div>
            </div>
            <div class="rita">
                <img src="../static/images/hamza.jpg" alt=""/>
                <div class="bio">
                    <h2>Hamza</h2>
                    <p>
                        I am a Data Scientist with a strong background in software engineering; and used to handling a variety of data pipelines and databases, included unstructured ones. I have a keen interest in furthering my skillset especially in machine learning and other related skills such as NL
                        P and computer vision. 
                    </p><br>
                    <p><i class="fas fa-at"></i><a href = "mailto:hamza_hersi01@hotmail.com">Contact me</a></p>
                </div>
            </div>
            <div class="rita">
                <img src="../static/images/rita.jpg" alt=""/>
                <div class="bio">
                    <h2>Rita</h2>
                    <p>
                        Data Scientist with Machine Learning skillset and passion for practical implementation of Data Science and Machine Learning models in Business with additional human factor. I strongly believe that combining Machine Learning with Human Psychology can bring outstanding resutlts.
                    </p><br>
                    <p><i class="fas fa-at"></i><a href = "mailto:r.starzyk@protonmail.com">Contact me</a></p>
                </div>
            </div>
            </section>
            
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>