<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>About</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="visualizations.html">Visualisations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="post-main">
            <section class="post1-description">
                <h2>Do you want to be happy?</h2>
                <br>
                <h3>Enjoy yourself</h3>
                <p>
                    Doing things that you enjoy is good for your emotional wellbeing.

                    Simple activities like watching sports with a friend, having a soak in the bath or meeting up with friends for coffee can all improve your day.
                    
                    Doing something you're good at, such as cooking or dancing, is a good way to enjoy yourself and have a sense of achievement.
                    
                    Try to avoid things that seem enjoyable at the time but make you feel worse afterwards, such as drinking too much alcohol or eating junk food.
                </p>
                <br>
                <h3>Boost your self-esteem</h3>
                <p>
                    Self-esteem is the way you feel about yourself.
                    The best way to improve your self-esteem is to treat yourself as you'd treat a valued friend, in a positive but honest way
                    Notice when you're putting yourself down, such as thinking, "You're so stupid for not getting that job", and instead think, "Would I say that to my best friend?". You probably wouldn't.
                    Tell yourself something positive instead, such as: "You're a bright person, you'll get the next job".
                </p>
                <br>
                <h3>Talk and share</h3>
                <p>
                    Communication is important, whether it's with a friend, family member or counsellor. 
                    Talking things through helps you to release tension, rather than keeping it inside. It helps strengthen your relationships and connect with people.
                    Lots of people find talking to a counsellor about things that are troubling them very helpful.
                </p>


            </section>
            <section class="post1-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/78nsxRxbf4w"
                 title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>