<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>About</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('about') }}">About</a></li>
                    <li><a href="{{url_for('blog') }}">Blog</a></li>
                    <li><a href="{{url_for('visualizations') }}">Visualisations</a></li>
                    <li><a href="{{url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="post-main">
            <section class="post1-description">
                <h2>Oxford Poverty and Human Development Initative</h2>
                <br>
                <h3>Gross National Happiness Index</h3>
                <p>
                    The phrase ‘gross national happiness’ was first coined by the 4th King of Bhutan, King Jigme Singye Wangchuck, in 1972 when he declared,
                     “Gross National Happiness is more important than Gross Domestic Product.” The concept implies that sustainable development should take a 
                     holistic approach towards notions of progress and give equal importance to non-economic aspects of wellbeing.<br><br>
                     Since then the idea of Gross National Happiness (GNH) has influenced Bhutan’s economic and social policy, and also captured the imagination of others far beyond its borders. In creating the Gross National
                      Happiness Index, Bhutan sought to create a measurement tool that would be useful for policymaking and create policy incentives for the government, NGOs and businesses of Bhutan to increase GNH.
                </p>
                <br>
                <h3>Construction of the GNH Index</h3>
                <p>
                    The GNH Index includes nine domains
                    <br><br>
                    1. Psychological wellbeing<br>
                    2. Health<br>
                    3. Education<br>
                    4. Time use<br>
                    5. Cultural diversity and resilience<br>
                    6. Good governance<br>
                    7. Community vitality<br>
                    8. Ecological diversity and resilience<br>
                    9. Living standards<br><br>
                    The GNH Index is decomposable by any demographic characteristic, meaning it can be broken down by population group, for example, 
                    to show the composition of GNH among men and among women, or by district, and by dimension, for example to show which group is lacking in education.
                     The indicators and domains aim to emphasise different aspects of wellbeing, and different ways of meeting underlying human needs.
                </p>
                <br>
                <h3>What kind of results does the GNH Index give?</h3>
                <p>
                    People who have achieved sufficiency in less than 50% are ‘unhappy’, and they comprise 10.4% of the population.
                     A total of 48.7% of people have sufficiency in 50-65% of domains and are called ‘narrowly happy’. 
                     A group of 32.6%, called ‘extensively happy’, have achieved sufficiency in 66-76% – in between 6 and 7 domains.
                     And in the last group, 8.3% of people are identified as ‘deeply happy’ because they enjoy sufficiency in 77% or more of weighted indicators – which is the equivalent of 7 or more of the nine domains.
                </p>
                <br>
            </section>
            <iframe width="800" height="500"  src="https://www.youtube.com/embed/kMjbru15oCI" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>