<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>About</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="visualizations.html">Visualisations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="post-main">
            <section class="post1-description">
                <h2>Happiness Formula</h2>
                <br>
                <h3>The happiness formula</h3>
                <p>
                    Dr. Martin Seligman, a leader in the world of positive psychology, is behind one of the most well-known and well-used of these formulas. H = S + C + V
                    Let’s quickly break it down. In this formula, H stands for Happiness, S stands for Set Point, C stands for Circumstance, and V stands for Voluntary Control.
                </p>
                <br>
                <h3>S – SET POINT (50%)</h3>
                <p>
                    Our set point relates to our biological, innate disposition for happiness. Put simply, genetics partially dictate our happiness level. Some people’s happiness set point will be higher than others, 
                    meaning that on their average day, they will be happier than someone else on their average day. Researchers believe our genetic set point determines about 50% of our happiness.
                </p>
                <br>
                <h3>C – CIRCUMSTANCE (10%)</h3>
                <p>
                    External circumstances account for about 10% of our happiness. This means that things such as our living conditions, recent events, the things we own (or don’t),
                    socioeconomic factors, our health, etc. do, indeed impact our happiness. 
                    But only to a certain extent. Probably a lot less than you might think. After all, 10% just isn't that big a piece of the pie. 
                </p>
                <br>
                <h3>V- VOLUNTARY CONTROL (40%)</h3>
                <p>
                    What might come as the biggest surprise to some people (myself included) is that after we account for genetics and our external circumstances, 
                    there is a whopping 40% leftover. And guess what Seligman and others have decided makes up that last 40%? Things we have complete control over,
                    such as our actions, thoughts, and behaviors. In other words, there is a huge chunk that we have the power to change, and that really comes down to how we choose to live our lives.
                </p>

                <h3>SO, WHAT'S THE POINT OF ALL OF THIS?</h3>
                    <p>
                        Have you ever thought about how much time and resources you put into trying to change your circumstances? Or how much energy you put into wishing things were
                        different – maybe that a certain event hadn’t have happened, or that you could afford that new car you've been eyeing?
                        For most of us, it’s a lot.
                        But how much time and energy and resources do you put into what we really can change, right now?
                        The things that can have a huge impact on our level of happiness (40%, remember)? Things like our thoughts, actions, behaviors, beliefs, habits…
                    </p>


            </section>
            <iframe width="800" height="500" src="https://www.youtube.com/embed/OWwHO3uDzck" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>