<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>About</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="visualizations.html">Visualisations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="post-main">
            <section class="post1-description">
                <h2>How to make a budget?</h2>
                <br>
                <h3>The BIG danger signal. Are you in debt?</h3>
                <p>
                    If you are, and can’t answer the question 'what are your debts from?' there’s a problem. If you didn’t buy, for example, a car or a conservatory,
                    but you've used cards or loans to fill gaps, an ear-piercing alarm should ring.
                    Debt is fine if it is planned, rational, budgeted for and as cheap as possible. But if you consistently need 
                    to use the credit cards to supplement your monthly spend, you have a problem. Do that, and it can have life-destroying consequences.
                </p>
                <br>
                <h3>Do a budget to work out where you're WASTING cash</h3>
                <p>
                    If you are spending more than you earn, there’s a simple way to accurately check. The specially designed Budget Planner calculates your genuine annual income and then 
                    tells you exactly how much more you spend than you earn.
                    Most people are shocked by the result, as many of those who think they’re within budget month-by-month aren’t when it’s done over a year. 
                    This is the start point of sorting out your cash. If possible, sit down and spend the time to do the budget. The planner also then helps you prioritise your spending.
                    Of course, even if you’re not spending more than you earn, if your aim is to save up for something specific, the techniques below will help too.
                </p>
                <br>
                <h3>Be clinical when assessing yourself</h3>
                <p>
                    Sit down for a brutally frank financial self-assessment. We don’t mean a quick budget looking at just one month’s expenditure. 
                    That omits the cost of Christmas, birthdays, summer holidays, MOT tests and more.
                    We mean scrutinise EVERYTHING, big and small, over a year, to prioritise what’s important and cutting anything that pushes your spending beyond your income.
                </p>


            </section>
            <section class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7ZedbecroYA" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>