<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>About</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('about') }}">About</a></li>
                    <li><a href="{{url_for('blog') }}">Blog</a></li>
                    <li><a href="{{url_for('visualizations') }}">Visualisations</a></li>
                    <li><a href="{{url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="post-main">
            <section class="post1-description">
                <h2>Increase your income</h2>
                <br>
                <h3>Believe you’re worth more money</h3>
                <p>
                    The most important step. Sounds very self-help-ish, but it’s true.
                    You need to radiate a belief that you’re a higher earner, and you need to believe it. If you do, more responsibility will come towards you, which is the key to earning more.
                </p>
                <br>
                <h3>Know what your job is</h3>
                <p>
                    When I’ve employed someone, I’ve had a very clear idea what they critically need to achieve. They may do other stuff, it may be great, but if they’re not doing what I’m watching then they could be baking donuts.
                    Companies can be bad at communicating this stuff. Find out what your job really is, then make sure you’re doing it.
                    (Hint: your job is not to sit in front of a PC every day. That’s a side effect)
                </p>
                <br>
                <h3>When at work, live and breath for your boss</h3>
                <p>
                    Forget yourself for a moment. Think hard about how to improve the daily working life of whoever decides your salary, and then improve it.
                    I don’t mean pathetically sucking up, which anyone sensible hates. I mean making their work more effective.
                </p>


            </section>
            <section class="video">
                <iframe width="800" height="500"  src="https://www.youtube.com/embed/jmpB5Pc5Ne0"
                 title="YouTube video player" frameborder="0" 
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>