<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="scripts.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="visualizations.html">Visualisations</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="blog box">
            <article class="post p1">
                <a href="do-you-want-to-be-happy.html" target="_blank">
                <img src="../static/images/happy.jpg" class="image" alt=""/>
                <div class="overlay">
                  <div class="text">Do you want to be happy?</div>
                </div>
            </a>
            </article>

            <article class="post p2">
                <a href="increase-your-income.html" target="_blank">
                <img src="../static/images/income.jpg" alt=""/>
                <div class="overlay">
                  <div class="text">Do you want to be happy?</div>
                </div>
            </a>
            </article>

            <article class="post p3">
                <a href="how-to-make-a-budget.html" target="_blank">
                <img src="../static/images/budget.jpg" alt=""/>
                <div class="overlay">
                  <div class="text">Do you want to be happy?</div>
                </div>
            </a>
            </article>
        </section>





        <main class="main box">
            <section aria-label="Visualisations">
                <div class="slider" data-slider>
                    <button class="slider-btn prev" data-slider-button="prev">&#8701;</button>
                    <button class="slider-btn next" data-slider-button="next">&#8702;</button>
                    <ul data-slides>
                        <li class="slide">
                            <img src="../static/images/education.jpg" alt=""/>
                        </li>
                        <li class="slide" data-active>
                            <img src="../static/images/city_background.jpg" alt=""/>
                        </li>
                        <li class="slide">
                            <img src="../static/images/family.jpg" alt=""/>
                        </li>
                        <li class="slide">
                            <img src="../static/images/home.jpg" alt=""/>
                        </li>

                    </ul>
                </div>
            </section>
        </main>
        <aside class="sidebar box">
            Aside
        </aside>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>