<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('about') }}">About</a></li>
                    <li><a href="{{url_for('blog') }}">Blog</a></li>
                    <li><a href="{{url_for('visualizations') }}">Visualisations</a></li>
                    <li><a href="{{url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="blog box">
            <article class="post p1">
                <a href="do-you-want-to-be-happy.html" target="_blank">
                <img src="../static/images/happy.jpg" class="image" alt=""/>
                <div class="overlay">
                  <div class="text">Do you want to be happy?</div>
                </div>
            </a>
            </article>

            <article class="post p2">
                <a href="increase-your-income.html" target="_blank">
                <img src="../static/images/income.jpg" class="image"alt=""/>
                <div class="overlay">
                  <div class="text">Increase your income</div>
                </div>
            </a>
            </article>

            <article class="post p3">
                <a href="how-to-make-a-budget.html" target="_blank">
                <img src="../static/images/budget.jpg" class="image"alt=""/>
                <div class="overlay">
                  <div class="text">How to make a budget?</div>
                </div>
            </a>
            </article>
        </section>





        <main class="main box">
           
        </main>
        <aside class="sidebar box">
            <img src="../static/images/banner.jpg" class="image"alt=""/>
            <img src="../static/images/banner.jpg" class="image"alt=""/>
            <img src="../static/images/banner.jpg" class="image"alt=""/>
        </aside>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>