<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script type="text/javascript" src="../static/scripts.js"></script>
    <title>About</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('home') }}">Home</a></li>
                    <li><a href="{{url_for('about') }}">About</a></li>
                    <li><a href="{{url_for('blog') }}">Blog</a></li>
                    <li><a href="{{url_for('visualizations') }}">Visualisations</a></li>
                    <li><a href="{{url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main class="post-main">
            <section class="post1-description">
                <h2>Theories of Happiness</h2>
                <br>
                <h3>Three paths to happiness</h3>
                <p>
                    Pleasure:An individual leading a life of pleasure can be seen as maximizing positive emotions, and minimizing negative emotions.<br><br>
                    Engagement:An individual leading a life of engagement constantly seeks out activities that allow her to be in flow.

                    Flow, coined by Mihály Csíkszentmihályi, is a state of deep, effortless involvement. It occurs most frequently when we concentrate our undivided attention on activities that are moderately challenging to us. When you are in flow, it may seem that your sense of self vanishes and time stops.
                    
                    Seligman recommends that in order to achieve flow, you must identify your signature strengths, or strengths that are deeply characteristic of yourself, and learn how to practice them.<br><br>

                    Meaning: An individual leading a life of meaning belongs to and serves something that is bigger than himself.3 These larger entities could be family, religion, community, country, or even ideas.

                    For the 2002 Seligman, an individual trying to lead a full life would have to fulfill all three orientations to happiness: she experiences positive emotions; derive engagement and gratification as she exercises her signature strengths; and she uses these strengths in the service of something larger to obtain meaning.
                    

                </p>
                <br>
                <h3>The Science</h3>
                <p>
                    The science behind the Orientations to Happiness is sturdy enough. Multiple studies showed that the fulfillment of each orientation correlates with life satisfaction,
                    while the lack of them predicted low life satisfaction.145 They predict life satisfaction beyond personality and socio-demographic variables.
                </p>
                <br>
                <h3>A new theory: P.E.R.M.A</h3>
                <p>
                    The 3 Orientations to Happiness was a good theory.
                    But things change. Nine years later, in 2011, Seligman publishes a new book, Flourish. 
                    In it, he gives the Orientations to Happiness the cold shoulder and reveals his new brainchild, PERMA 
                    Seligman isn’t happy with his old theory for a few reasons. First, he criticizes it for being too narrow and containing too few categories.
                     He also puts it down for focusing too much on life satisfaction, which he sees as being too dependent on mood. Well-being, he argues, should exceed the hedonic,
                     and be more than fleeting emotions. In this way, Seligman paints his old theory as one-dimensional, and proposes an alternative: PERMA.
                </p>
                <br>
                <h3>Relationships</h3>
                <p>
                    Seligman believes that the need and tendency towards relationships 
                    is biologically and evolutionarily ingrained in us. Positive relationships is especially 
                    powerful because it plays a role in supporting the other four components of well-being.
                </p>


            </section>
            <iframe width="800" height="500" src="https://www.youtube.com/embed/vkEDLJoEZwI" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </main>
        <footer class="footer box">
            <p>&copy; 2022 Happiness Factor | All rights reserved.</p>
        </footer>

    </div>
</body>
</html>